h1 {
    color: lightseagreen;
}
.header {
    color:darkcyan;
    text-align: center;

}
input {
    
    border-style: ridge ridge ridge;
    border-radius: 80px / 80px;
    padding: 10px;
    animation: cubic-bezier();
    outline-color: lightseagreen;
    border-color: black;
    caret-color: black;
    color: black;
    flood-color: black;
    lighting-color: black;
    background-color:lightseagreen;
    text-decoration-color: black;
    align-self: stretch;
    text-emphasis-color: black;
    outline: none;

    
    
}
input:hover {
    background-color: lightcyan;
}
input::placeholder {
    text-decoration-color: black;
    color: black;
}
.addbutton {
    border:black;
    color:lightseagreen;
    padding: 10px;
    border-style: solid;
    border-radius: 80px / 80px;
    outline: none;
    
    

}
.addbutton:hover {
    background-color: black;
}

h2 {
    text-align: center;
}
* {
    box-sizing:border-box;
    
    background-color: lightcyan;
}
ul {
    margin:0rem;
    padding:0vmax;
}
ul li {
    padding: 12px 2px 12px 40px;
    background: aliceblue;
    font-size: 18px;
    transition: 0.4s;
    position: relative;
    border-style: ridge ridge ridge;
    border-radius: 10px / 10px;
    background-color:lightseagreen;
    outline: none;
    border-color: black;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li:hover {
    background: brown;

}
ul li.checked {
    background: brown;
    
}
.close {
    position:absolute;
    right: 0;
    top:0;
    border-radius: 5px/5px;
    color: lightseagreen;
    padding: 12px 10px 12px 10px;

}
.close:hover {
    background-color: black;
}