h1 {
    color: lightseagreen;
}
.header {
    color:darkcyan;
    text-align: center;

}
input {
    
    border-style: ridge ridge ridge;
    border-radius: 80px / 80px;
    padding: 10px;
    animation: cubic-bezier();
    outline-color: lightseagreen;
    border-color: black;
    caret-color: black;
    color: black;
    flood-color: black;
    lighting-color: black;
    background-color:lightseagreen;
    text-decoration-color: black;
    align-self: stretch;
    text-emphasis-color: black;
    outline: none;

    
    
}
input::placeholder {
    text-decoration-color: black;
    color: black;
}
.addbutton {
    border:black;
    color:black;
    padding: 10px;
    border-style: solid;
    border-radius: 80px / 80px;
    outline: none;
    
    

}
.addbutton:focus {
    background-color: darkcyan;
}

h2 {
    text-align: center;
}
* {
    box-sizing:border-box;
    box-shadow: lightsalmon;
    background-color: lightcyan;
}
ul {
    margin:0rem;
    padding:0vmax;
}
ul li {
    padding: 12px 8px 12px 40px;
    background: aliceblue;
    font-size: 18px;
    transition: 0.4s;
    position: relative;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li:hover(odd) {
    background: brown;

}
ul li:checked {
    background: cadetblue;
    text-decoration: coral;
    text-size-adjust: 30px;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}